<p>
  <input type="checkbox" name="done" {{#if todo.done}} checked{{/if}} />
  {{{todo.name}}}</p>
<a href="/">back</a>
<a href="#">edit</a>
<form action="/todos/{{{todo.id}}}/delete?_method=DELETE" method="post" style="display: inline;">
  <button type="submit">delete</button>
</form>